
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Roboto', sans-serif;
}

#landing .container {
    display: flex;
    width: 100%;
    max-width: 1200px;
   
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

p {
    font-weight: 700;
    color:#606f85
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.main {
    padding: 80px 0;
}

h1, h2, h3, h5, h6 {
    color: #243E63;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;

}
nav {
    padding: 10px 20px;
}

img {
    width: 100%;
}
.signup-btn {
    background-color: #6030b1;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: #4e27a0;
    color: #fff;
}

.color {
    color: #162c6e;

}


.logo__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    max-height: 25px;
}

.text--purple {
    color: #6030b1;
}

/*

NAVIGATION BAR

*/


.nav__title {
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
    margin: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin:  0 auto;
  
}

.nav__links--list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    color: #6030b1;
    font-size: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    
}


/*

HEADER SECTION

*/

.header__container {
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    gap: 48px;
    padding: 96px 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    width: 50%;
    text-align: left;
}
.right {
    width: 50%;
}

.header__title {
    font-size: 48px;
    text-align: left;
    margin-bottom: 32px;
    line-height: 1.25;
}

.header__description {
    text-align: left;
    margin-bottom: 32px;
    font-size: 18px;
    color: #243E63;
}


.get__started--container input {
    flex: 1;
    padding: 20px 32px;
    border: 2px solid #e5e7eb;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
}

.get__started--btn {
    background-color: #6030b1;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.customer__logo {
    width: 100%;
    max-width: 500px;
    opacity: 0.5;
    margin-top: 16px;
}

.customers__title {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
    letter-spacing: 1.6px;
    text-align: left;
}

.get__started--btn:hover {
    background-color: #4e27a0;
    color: #fff;
}

.header__img {
    width: 100%;
    height: auto;
    
}

/* 

FEATURES

*/


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:  80px;
}

.container .section__title {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.feature__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #9ea9b9;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    
}

.section__title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 12px;
    font-weight: 900;
}

.section__subtitle {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
   
}   

/* 

SERVICE SECTION 

*/

.text-purple {
    color: #6030b1;
}

#services { 
     padding: 80px 0;

 }

.service {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 3);
    max-width: 400px;
}

.service__img--wrapper {
    display: flex;
}

.service__img {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    max-width: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #d4dbe9;
    object-fit: cover;
}   

.service__list {
    display: flex;
    flex-wrap: wrap;
    
}

.service__list--container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.service__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #606f85;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;  
    padding: 50px;
}


 /*
 
 QUALITY SECTION

 */

#quality {
    padding: 80px 0;
    background-color: #fff;
}

.quality {
    position: relative;
    overflow: visible;
}

.quality__container {
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    gap: 48px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.quality__img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}

.Left {
    margin-top: 30px;
    width: 50%;
    text-align: left;
}

.right {
    width: 50%;
}

.dot-grid {
    display: block;
    grid-template-columns: repeat(10,8px);
    grid-template-rows: repeat(10,8px);
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 10px;
    height: 10px;
    background-image: radial-gradient(#6030b1 2px, transparent 2px);
    background-size: 10px 10px;
    position: relative;
    z-index: 1;
}
.quality__title {
    font-weight: 900;
    text-align: left;
    margin-bottom: 32px;
    line-height: 1;
}

.quality__subtitle {
    font-size: 36px;
    text-align: left;
    margin-bottom: 32px;
    line-height: 1.25;
}

.quality__description {
    text-align: left;
    margin-bottom: 32px;
    font-size: 18px;
    color: #606f85;
    
}

.learn__more--btn {
    background-color: #6030b1;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.learn__more--btn:hover {
    background-color: #4e27a0;
    color: #fff;
}

 /*
 
 STEPS SECTION

 */

#steps {
    display: flex;
}

.container {
    display: flex; 
    gap: 48px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    
}

.steps__container {
    display: flex;  
}

.Left {
    width: 50%;
}

.right {
    width: 50%;
    text-align: left;
    padding: 0 32px;
}

.labtop__img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.dot-grid {
    grid-template-columns: repeat(10,10px);
    grid-template-rows: repeat(10,10px);
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding: 60px;
    width: 50px;
    height: 8px;
    background-image: radial-gradient(#8cb5eb 2px, transparent 2px);
    background-size: 20px 20px;
    position: relative;
    z-index: 1;
}

.steps__subtitle {
    white-space: nowrap;
    padding: 20px;
}

.steps__list--title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}
.steps__description {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    color: #606f85; 
}
.step__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
.step {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 1.5rem;
}

.step__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.step__number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 56px;
    height: 77px;
    border-radius: 8px;
    font-size: 48px;
    font-weight: 500;
    color: #c3c5c7;

}
/*

VALUES SECTION

*/


#values {
    display: flex;
}

.priciples__container {
    display: flex; 
    gap: 48px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    
}

.principlescontent {
    display: flex;
    gap: 48px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

.principles--content .Left {
    display: flex;
    flex-direction: column;
    width: 50%;
   
}
.principles--content .right {
    display: flex;
    width: 50%;
  
}

.prototype__img {
    width: 100%;
    height: auto;
}




