
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Roboto', sans-serif;
}

.landing  {
    padding: 50px 0px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
    color: black;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;

}
.btn-primary {
    background-color: #6030b1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4e27a0;
}

p {
    line-height: 1.5;
    font-size: 8px;
}

a {
    text-decoration: none;
    position: relative;
}



/* NAVIGATION BAR */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eee;

}


.text-center {
    text-align: center;
}