
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Roboto', sans-serif;
}

#landing .container {
    display: flex;
    width: 100%;
    max-width: 1200px;
   
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
a:hover {
    text-decoration: underline;
}

p {
    font-weight: 700;
    color:#606f85
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.main {
    padding: 80px 0;
}

h1, h2, h3, h5, h6 {
    color: #243E63;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #243E63;

}
nav {
    padding: 10px 20px;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.btn:hover {
    background-color: #5a2db8;
}

.btn:active {
    background-color: #6030b1;
}

button.nav__links--list:active {
    transform: translateY(1px);
}

.signup-btn {
    background-color: #6030b1;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
    
}

.signup-btn:hover {
    background-color: #6030b1;
    color: #fff;
}

.color {
    color: #162c6e;

}


.logo__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    max-height: 25px;
}



/*

NAVIGATION BAR

*/


.nav__title {
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
    margin: 0;
}

.nav__container {
     width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  
}

.nav__link--list:hover {
  text-decoration: underline;
}


.nav__links--list {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #6030b1;
    font-size: 10px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    background-color: transparent;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #6030b1;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
}

.menu--open {
    max-height: 100vh;
    overflow: hidden;
}
.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: #fff;
    font-size: 40px;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #fff;
}


/*

HEADER SECTION

*/

.header__container {
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    gap: 48px;
    padding: 96px 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    width: 40%;
    text-align: left;
}
.right {
    width: 60%;
}

.header__title {
    font-size: 48px;
    text-align: left;
    margin-bottom: 32px;
    line-height: 1.25;
}

.header__description {
    text-align: left;
    margin-bottom: 32px;
    font-size: 18px;
    color: #243E63;
}


.get__started--container input {
    flex: 1;
    padding: 20px 32px;
    border: 2px solid #e5e7eb;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
}

.get__started--btn {
    background-color: #6030b1;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.customer__logo {
    width: 100%;
    max-width: 500px;
    opacity: 0.5;
    margin-top: 16px;
}

.customers__title {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
    letter-spacing: 1.6px;
    text-align: left;
}

.get__started--btn:hover {
    background-color: #4e27a0;
    color: #fff;
}

.header__img {
    width: 100%;
    height: auto;
    
}

/* 

FEATURES

*/


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:  80px;
}

.section__title {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.feature__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    
}

.section__title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

.section__subtitle {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
   
}   

/* 

SERVICE SECTION 

*/

.text-purple {
    color: #6030b1;
}

.features {

display: flex;

flex-wrap: wrap;

margin-top: 40px;
padding: 80px;

}


.feature {

width: calc(100% / 3);

}


.feature__row {

display: flex;
align-items: flex-start;
padding: 32px 24px;
width: 100%;
max-width: 1200px;
margin: 0 auto

}


.feature__img--wrapper {

display: flex;

padding: 20px;

border: 1px solid #e5e7eb;

border-radius: 500px;

}

.feature__text {

margin-top: 8px;

margin-left: 16px;

}


 /*
 
 QUALITY SECTION

 */

#quality {
    padding: 80px 0;
    background-color: #fff;
}

.quality {
    position: relative;
    overflow: visible;
}

.quality__container {
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    gap: 48px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.quality__img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}

.quality__left {
    width: 50%; 
    text-align: left;
}

.quality__right { 
  width: 50%; 

  }

.dot-grid {
    display: block;
    grid-template-columns: repeat(10,8px);
    grid-template-rows: repeat(10,8px);
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 10px;
    height: 10px;
    background-image: radial-gradient(#6030b1 2px, transparent 2px);
    background-size: 10px 10px;
    position: relative;
    z-index: 1;
}
.quality__title {
    color: #4e27a0;
    font-weight: 700;
    text-align: left;
    margin-bottom: 32px;
    line-height: 1;
}

.quality__subtitle {
    font-size: 36px;
    text-align: left;
    margin-bottom: 32px;
    line-height: 1.25;
}

.quality__description {
    text-align: left;
    margin-bottom: 32px;
    font-size: 18px;
    color: #606f85;
    
}

.learn__more--btn {
    background-color: #6030b1;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.learn__more--btn:hover {
    background-color: #4e27a0;
    color: #fff;
}

 /*
 
 STEPS SECTION

 */

#steps {
    display: flex;
}

.container {
    display: flex; 
    gap: 48px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    
}

.steps__container {
    display: flex;  
}

.Left {
    width: 50%;
}

.right {
    width: 50%;
    text-align: left;
    padding: 0 32px;
}

.labtop__img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.dot-grid {
    grid-template-columns: repeat(10,10px);
    grid-template-rows: repeat(10,10px);
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    padding: 60px;
    width: 50px;
    height: 8px;
    background-image: radial-gradient(#8cb5eb 2px, transparent 2px);
    background-size: 20px 20px;
    position: relative;
    z-index: 1;
}

.steps__subtitle {
    white-space: nowrap;
    padding: 20px;
}

.steps__list--title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}
.steps__description {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    color: #606f85; 
}
.step__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
.step {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 1.5rem;
}

.step__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.step__number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 56px;
    height: 77px;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 700;
    color: #c3c5c7;

}
/*

VALUES SECTION

*/



#values {
    padding: 100px 0;
}

.principles__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}


.principles__row {
    display: flex;
    gap: 80px; 
    align-items: center; 
}


.principles__left-column {
    flex: 1; 
    max-width: 50%;
}


.principles__right-column {
    flex: 1;
    max-width: 50%;
}

.prototype__img {
    width: 100%;
    height: auto;
}



.principles__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 1px;
    
}


.principles__subtitle {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}

.principles__main-description {
    line-height: 1.7;
    margin-bottom: 40px;
    color: #555;
}



.principles__group {
    display: flex;
    gap: 30px; 
    margin-bottom: 30px;
}

.principle__card {
    flex: 1; 
    text-align: left;
}


.principle__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.principle__icon {
    font-size: 20px;
    margin-right: 10px;
}

.principle__card-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


.affordable__icon {
    color: #63E6BE; 
}

.professionalism__icon {
    color: #E91E63; 

}

.principle__card-description {
    line-height: 1.5;
    color: #555;
}



.learn__more--btn {
   
    border: none;
    padding: 12px 30px;
    border-radius: 999px; 
    font-weight: 600;
    cursor: pointer;
    background-color: #9C27B0;
    color: white;
    transition: background-color 0.3s ease;
}

.learn__more--btn:hover {
    background-color: #8E24AA;
}

/* 

PRICING

*/



.container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-title {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}
.text-white {
    color: #FFF;
}
.section-subtitle {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-title .highlight {
    color: #4e27a0; 
}


.section-description {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1rem;
    color: #71717a;
}


.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding-bottom: 100px; 
    position: relative; 
}


.pricing-cards::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: #f7a2b9; 
    border-radius: 50%;
    opacity: 0.2;
    transform: translate(-50%, 50%);
    z-index: -1;
}

.plan-card {
    flex-basis: 320px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.plan-card:hover {
    transform: translateY(-5px);
}

.card-header {
    padding: 30px 20px 10px;
    color: #fff;
}

.plan-name {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.plan-frequency {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0;
    opacity: 0.8;
}

.card-body {
    padding: 30px 20px 40px;
    background-color: #fff;
}

.plan-audience {
    font-size: 1.1rem;
    font-weight: bold;
    color: #3f3f46;
    margin-bottom: 20px;
}

.plan-features {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    font-size: 0.95rem;
    color: #71717a;
    line-height: 2.5;
}

.plan-features li {
    padding: 3px 0;
}

.plan-features .highlight {
    font-weight: bold;
    color: #3f3f46; 
}

.personal-plan .card-header {
    background-color: #fff;
    border-top: 5px solid #68d391; 
    color: #3f3f46;
}
.personal-plan .buy-button {
    background-color: #68d391; 
}


.business-plan {
    transform: translateY(-20px); 
}

.business-plan .card-header {
    background-color: #6b46c1; 

}

.business-plan .plan-price {
    color: #fff;
}
.business-plan .card-body {
    background-color: #805ad5; 
}
.business-plan .plan-audience,
.business-plan .plan-features {
    color: #fff;
}
.business-plan .plan-features .highlight {
    color: #fff;
}
.business-plan .buy-button {
    background-color: #f7a2b9; 
    color: #3f3f46;
}

.business-plan:hover {
    transform: translateY(-25px);
}


.enterprise-plan .card-header {
    background-color: #fff;
    border-top: 5px solid #f68798; 
    color: #3f3f46;
}
.enterprise-plan .buy-button {
    background-color: #f68798;
}

/* --- Buy Button Styling --- */
.buy-button {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 9999px; 
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    filter: brightness(1.1); 
}


@media (max-width: 900px) {
.pricing-cards {
        flex-direction: column;
        align-items: center;
    }
.plan-card {
        margin-bottom: 20px;
    }
.business-plan {
        transform: translateY(0); 
    }
.business-plan:hover {
        transform: translateY(-5px); 
    }
}

/* 

TESTIMONIALS

*/

#testimonials {
    padding: 100px 0;
}

.testimonials__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}


.testimonials__row {
    display: flex;
    gap: 80px; 
    align-items: center;
}


.testimonial__left-column {
    flex: 1; 
    max-width: 50%;
}

.love-illustration {
    width: 100%;
    height: auto;
}

.testimonial__right-column {
    flex: 1;
    max-width: 50%;
    text-align: left; 
}



.testimonial__tag {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.testimonial__subtitle {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.testimonials__intro-description {
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
}

.user__experience-title {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.user__experience-text {
    line-height: 1.7;
    color: #555;
    margin-bottom: 30px;
}



.ratings i {
    color: #FFC107; 
    font-size: 18px;
    margin-right: 2px;
}




.user-navigation-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.user__info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user__picture-mask {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}

.user__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user__details {
    text-align: left;
}

.user__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.user__title {
    font-size: 14px;
    color: #888;
}


.navigation__arrows {
    display: flex;
    gap: 10px;
}

.arrow__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}


.arrow__btn.arrow--next {
    background-color: #f0f0f0; 
    border-color: transparent;
}

.arrow__btn i {
    color: #9C27B0;
}

.text--purple {
    color: #9C27B0;
}
/*

FOOTER

*/



.footer__cta-bar {
    max-width: 1100px; 
    margin: 0 auto;
    transform: translateY(50%);
    position: relative;
    z-index: 10; 
    background-color: #6B46C1; 
    padding: 60px 40px; 
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cta-bar__content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.cta-bar__text {
    font-size: 26px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.cta-bar__buttons {
    display: flex;
    gap: 20px;
}

.cta-btn {
    padding: 12px 25px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
    font-size: 14px;
}

.btn--red {
    background-color: #FF4785;
    color: white;
}

.btn--red:hover {
    background-color: #e0396c;
}


.btn--contact {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.btn--contact:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.main-footer {
    background-color: #4C1D95; 
    padding-top: 150px; 
    padding-bottom: 50px;
    color: white;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.footer__links-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__column {
    width: 20%; 
    padding: 0 10px;
}

.column__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: #F3F4F6; 
}

.footer__column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__column li {
    margin-bottom: 12px;
}

.footer__column a {
    color: #C3B4E3; 
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
}

.footer__column a:hover {
    color: white; 
}


.footer__separator {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15); 
    margin: 30px 0;
}

.footer__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.footer__logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.logo__icon {
    font-size: 24px;
    margin-right: 8px;
}

.footer__copyright {
    font-size: 14px;
    color: #C3B4E3;
}

.footer__social-icons a {
    color: white;
    font-size: 16px;
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.footer__social-icons a:hover {
    background-color: #FF4785; 
}



/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
 
    .header__title,
    .header__description {
        padding: 0 40px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    button {
        font-size: 18px;
    }
    
    .book {
        width: 50%;
    }
    .img {
        display: none;
    }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
    
    
    .dot-grid,
    .labtop__img,
    .feature__img--wrapper,
    .feature__img,
    .nav__links--list {
        display: none;
    }
    
    .navigation__arrows
    .header__subtitle
    .step__list,
    .steps__container,
    .step__list--description {
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .quality__subtitle
    .customers__title
    .section-subtitle
    .header__title {
        padding: 0 40px;
        
    }
    
    .btn__menu {
        display: block;
    }
    
    
    .highlight {
        width: 100%;
    }
    
    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }

    .step__list--description
    .header__description
    .feature__description {
        padding: 0 10px; 
        word-wrap: break-word; 
    }
}

@media (max-width: 360px) {
     .quality__description {
        padding: 0 45px;
    } 
    
    .dot-grid,
    .labtop__img,
    .feature__img--wrapper,
    .feature__img,
    .nav__links--list {
        display: none;
    }

    .navigation__arrows
    .steps__subtitle,
    .steps__container,
    .feature__row {
        display: flex;
        flex-wrap: wrap;
    }
    


            h1 {
            font-size:  2rem;
            }     
         
            h2 {
            font-size: 1.5rem;
            }
    
             h3 {
            font-size: 1.25rem;}
    
             h4 {
                font-size: 1.1rem;
            }

            
            .cta-bar__buttons,
            .footer__container,
            .feature,
            .feature__container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 0 10px;
                
            }
            
            .step__list { 
                padding: 0 50px;
                width: 100%; 
                margin-bottom: 25px;
            }
            
            .quality__description {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                word-wrap: break-word; 
                justify-content: center;
                padding: 0 10px;
                
            }
            
            .step__list,
            .header__description,
            .steps__subtitle,
            .navigation__arrows,
            .user-navigation-wrapper {
                display: flex;
                flex-wrap: wrap;
                word-wrap: break-word; 
                justify-content: center;
                padding: 0 80px; 
            }